[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .card-color {
  background-color: black ;
  border-color:  white;
}

[data-theme="dark"] .nav-text {
  color: #eee !important;
}

[data-theme="dark"] .nav-btn {
  border-color: #eee !important;
}

[data-theme="dark"] .carousel-body {
  background-color: #111 !important;
}
[data-theme="dark"] .carousel-indicators > .active > h5 {
  color: red;
}

[data-theme="dark"] .carousel-text {
  color: #eee ;
}

[data-theme="dark"] .carousel-text:hover {
  color: red !important;
}

[data-theme="dark"] .review-body {
  background-color: #111 !important;
}

[data-theme="dark"] .pagination-color > ul > li > a {
  background-color: #333333 !important;
  color: #eee;
}

[data-theme="dark"] .pagination-color > ul > li > span {
  background-color: #333333 !important;
  color: #eee;
}

[data-theme="dark"] .text {
  color: #eee !important;
}

[data-theme="dark"] hr {
  border-color: #eee;
}

[data-theme="dark"] .pro-content {
  color: #eee !important;
}

[data-theme="dark"] .bg-color:hover {
  background-color: #333333 !important;
}

[data-theme="dark"] .scrap {
  color: blue;
}
